<div ng-class="{'footer-for-tagview-wrapper': controller_name == 'TagViewCtrl',
                'footer-for-other-views-wrapper': controller_name != 'TagViewCtrl'}">

    <!--ng-class="{'selected-black-link-text': headerinfo.current_menu_item == 'Video',-->
    <!--'black-link-text': headerinfo.current_menu_item != 'Video'}"-->
    <!--class="black-link">Video</a>-->
    <!--</li>-->

    <!--controller_name-->

    <div class="footer-pane-container">

        <div class="row-for-footer-titles-pane">

            <div class="non-omega-pane-1-of-30">

                &nbsp;

            </div>

            <div class="footer-column-pane dark-grey-for-detail-text">

                Tell me

            </div>

            <div class="footer-column-pane dark-grey-for-detail-text">

                Small print

            </div>

            <div class="footer-column-pane dark-grey-for-detail-text">

                Your account

            </div>

            <div class="footer-column-pane dark-grey-for-detail-text">

                Newsletter

            </div>

            <div class="omega-pane-1-of-30">

                &nbsp;

            </div>

        </div>

        <div class="row-for-footer-pane">

            <div class="non-omega-pane-1-of-30">

                &nbsp;

            </div>

            <div class="footer-column-pane">

                <span ng-click="footerinfo.section_to_show = 'help';
                                footerinfo.show_footer_panel = true; refresh_scrollbar();"
                      class="blue-link link-bold-text">
                    Help
                </span>

            </div>

            <div class="footer-column-pane">

                <span ng-click="footerinfo.section_to_show = 'terms_and_conditions';
                                footerinfo.show_footer_panel = true; refresh_scrollbar();"
                      class="blue-link link-bold-text">
                    Terms and conditions
                </span>

            </div>

            <div class="footer-column-pane">

                <span ng-show="!user.uid"
                      ng-click="loginpanelinfo.section_to_show = 'login';
                                loginpanelinfo.show = true"
                      class="blue-link link-bold-text">
                    Login
                </span>

                <span ng-show="user.uid"
                      ng-click="loginpanelinfo.section_to_show = 'logout'"
                      class="blue-link link-bold-text">
                    Logout
                </span>

                <!--loginpanelinfo.show-->

            </div>

            <div class="footer-column-pane" style="margin-bottom: -7px">

                <div ng-include src="'/includes/newsletter_subscription_form.html'"></div>

            </div>

            <div class="omega-pane-1-of-30">

                &nbsp;

            </div>

        </div>

        <div class="row-for-footer-pane">

            <div class="non-omega-pane-1-of-30">

                &nbsp;

            </div>

            <div class="footer-column-pane">

                <span ng-click="footerinfo.section_to_show = 'aboutus';
                                footerinfo.show_footer_panel = true; refresh_scrollbar();"
                      class="blue-link link-bold-text">
                    About us
                </span>

            </div>

            <div class="footer-column-pane">

                <span ng-click="footerinfo.section_to_show = 'privacy';
                                footerinfo.show_footer_panel = true; refresh_scrollbar();"
                      class="blue-link link-bold-text">
                    Privacy
                </span>

            </div>

            <div class="footer-column-pane">

                <span ng-show="!user.uid"
                      ng-click="loginpanelinfo.section_to_show = 'register';
                                loginpanelinfo.show = true"
                      class="blue-link link-bold-text">
                    Register
                </span>

                <span ng-show="user.uid"
                      ng-click="go_to_url('/profile/en/' + user.uid)"
                      class="blue-link link-bold-text">
                    My profile
                </span>

            </div>

            <div class="non-omega-pane-7-of-28">

                &nbsp;

            </div>

            <div class="omega-pane-1-of-30">

                &nbsp;

            </div>

        </div>

        <div class="row-for-footer-pane">

            <div class="non-omega-pane-1-of-30">

                &nbsp;

            </div>

            <div class="footer-column-pane">

                <span ng-click="footerinfo.section_to_show = 'contactus';
                                footerinfo.show_footer_panel = true"
                      class="blue-link link-bold-text">
                    Contact us
                </span>

            </div>

            <div class="footer-column-pane">

                <span ng-click="footerinfo.section_to_show = 'patents_and_copyright';
                                footerinfo.show_footer_panel = true; refresh_scrollbar();"
                      class="blue-link link-bold-text">
                    Patents and copyright
                </span>

            </div>

            <div class="non-omega-pane-7-of-28">

                &nbsp;

            </div>

            <div class="non-omega-pane-7-of-28">

                &nbsp;

            </div>

            <div class="omega-pane-1-of-30">

                &nbsp;

            </div>

        </div>

        <div class="row-for-footer-pane">

            <div class="non-omega-pane-1-of-30">

                &nbsp;

            </div>

            <div class="non-omega-pane-7-of-28">

                &nbsp;

            </div>

            <div class="non-omega-pane-7-of-28">

                &nbsp;

            </div>

            <div class="non-omega-pane-7-of-28">

                <!--<span ng-show="!user.uid"-->
                <!--ng-click="loginpanelinfo.section_to_show = 'register';-->
                <!--loginpanelinfo.show = true"-->
                <!--class="blue-link link-bold-text">-->
                <!--Register-->
                <!--</span>-->

                <!--<span ng-show="user.uid"-->
                <!--ng-click="go_to_url('/profile/en/' + user.uid)"-->
                <!--class="blue-link link-bold-text">-->
                <!--My profile-->
                <!--</span>-->

                &nbsp;

            </div>

            <div class="non-omega-pane-7-of-28">

                <img src="/images/musictheatre-small.png"
                     alt="MusicTheatre.tv"
                     height="41"
                     width="127">

                <div class="dark-grey-text">

                    <br>

                    &copy; Copyright 2013 Cmor.tv Limited

                </div>

            </div>

            <div class="omega-pane-1-of-30">

                &nbsp;

            </div>

        </div>

    </div>

</div>

<div ng-if="footerinfo.show_footer_panel"
     class="footer-panel-independent-pane"
     ng-controller="FooterPanelCtrl">

    <div ng-if="footerinfo.section_to_show != 'contactus'"
         class="footer-panel-pane-container temp-box">

        <div class="omega-pane-30-of-30">

            &nbsp;

        </div>

        <div class="omega-pane-30-of-30">

            <div class="non-omega-pane-28-of-30">
                &nbsp;
            </div>

            <div class="non-omega-pane-1-of-30"
                 ng-mouseover="show_footer_panel_close_button_on = true"
                 ng-mouseout="show_footer_panel_close_button_on = false">

                <img src="/images/close_button_off.png"
                     class="button"
                     ng-show="!show_footer_panel_close_button_on">

                <img src="/images/close_button_on.png"
                     class="button"
                     ng-show="show_footer_panel_close_button_on"
                     ng-click="footerinfo.show_footer_panel = false">

            </div>

            <div class="omega-pane-1-of-30">
                &nbsp;
            </div>

        </div>

        <div class="omega-pane-30-of-30">

            &nbsp;

        </div>

        <div class="omega-pane-30-of-30">

            <div class="non-omega-pane-1-of-30">

                &nbsp;

            </div>

            <div class="non-omega-pane-28-of-30">

                <div class="scrollable-footer-panel-parent">

                    <div id="scrollable-footer-panel">

                        <div class="footer-panel-content-pane">

                            <div class="non-omega-pane-27-of-28">

                                <div ng-include="footerinfo.path_of_content_fragment_to_display"></div>

                            </div>

                            <div class="omega-pane-1-of-28">

                                &nbsp;

                            </div>

                        </div>

                    </div>

                </div>

            </div>

            <div class="omega-pane-1-of-30">

                &nbsp;

            </div>

        </div>

    </div>

    <div ng-if="footerinfo.section_to_show == 'contactus'"
         class="footer-panel-contactus-pane-container temp-box">

        <div class="omega-pane-30-of-30">

            &nbsp;

        </div>

        <div class="omega-pane-30-of-30">

            <div class="non-omega-pane-28-of-30">
                &nbsp;
            </div>

            <div class="non-omega-pane-1-of-30"
                 ng-mouseover="show_contactus_panel_close_button_on = true"
                 ng-mouseout="show_contactus_panel_close_button_on = false">

                <img src="/images/close_button_off.png"
                     class="button"
                     ng-show="!show_contactus_panel_close_button_on">

                <img src="/images/close_button_on.png"
                     class="button"
                     ng-show="show_contactus_panel_close_button_on"
                     ng-click="footerinfo.show_footer_panel = false">

            </div>

            <div class="omega-pane-1-of-30">
                &nbsp;
            </div>

        </div>

        <div class="omega-pane-30-of-30">

            &nbsp;

        </div>

        <div ng-form="contactusForm" novalidate>

            <div class="omega-pane-30-of-30">

                <div class="non-omega-pane-1-of-30">
                    &nbsp;
                </div>

                <div class="label-for-customer-profile-field-pane header3-text">
                    Name:
                </div>

                <div class="non-omega-pane-15-of-30">
                    <input type="text" name="name_line" style="width:312px"
                           ng-model="footerinfo.name_line"
                           ng-pattern="text_validation_regex_pattern"
                           class="inputfield"
                           required/>
                    <span class="red-text">*</span>
                </div>

                <div class="non-omega-pane-10-of-30 dark-grey-text">
                    <div ng-show="contactusForm.name_line.$dirty && contactusForm.name_line.$invalid">
                        <span ng-show="contactusForm.name_line.$error.required">Plese enter your name</span>
                        <span ng-show="contactusForm.name_line.$error.pattern">Invalid characters entered</span>
                    </div>
                </div>

                <div class="omega-pane-1-of-30">
                    &nbsp;
                </div>

            </div>

            <div class="omega-pane-30-of-30">

                <div class="non-omega-pane-1-of-30">
                    &nbsp;
                </div>

                <div class="label-for-customer-profile-field-pane header3-text">
                    Email:
                </div>

                <div class="non-omega-pane-15-of-30">
                    <input type="email" name="email" style="width:312px"
                           ng-model="footerinfo.email"
                           class="inputfield"
                           required/>
                    <span class="red-text">*</span>
                </div>

                <div class="non-omega-pane-10-of-30 dark-grey-text">
                    <div ng-show="contactusForm.email.$dirty && contactusForm.email.$invalid">
                        <span ng-show="contactusForm.email.$error.required">Please enter your email address</span>
                        <span ng-show="contactusForm.email.$error.email">Invalid email</span>
                    </div>
                </div>

                <div class="omega-pane-1-of-30">
                    &nbsp;
                </div>

            </div>

            <div class="omega-pane-30-of-30">

                <div class="non-omega-pane-1-of-30">
                    &nbsp;
                </div>

                <div class="non-omega-pane-28-of-30">

                    <textarea
                            rows="15"
                            cols="80" name="body"
                            ng-model="footerinfo.body"
                            class="standardtextarea"
                            required></textarea>

                </div>

                <div class="omega-pane-1-of-30">
                    &nbsp;
                </div>

            </div>

            <!--<div class="omega-pane-30-of-30">-->

                <!--&nbsp;-->

            <!--</div>-->

            <div class="omega-pane-30-of-30">

                <div class="non-omega-pane-1-of-30">
                    &nbsp;
                </div>

                <div class="non-omega-pane-28-of-30 dark-grey-text">

                    <span class="red-text">*</span> = required field

                </div>

                <div class="omega-pane-1-of-30">
                    &nbsp;
                </div>

            </div>

            <div class="omega-pane-30-of-30">

                <div class="non-omega-pane-24-of-30">
                    &nbsp;
                </div>

                <div class="non-omega-pane-5-of-30">

                    <button ng-click="send_message()"
                            class="blue-button" style="float: right"
                            ng-disabled="contactusForm.$invalid">Send</button>

                </div>

                <div class="omega-pane-1-of-30">
                    &nbsp;
                </div>

            </div>

            <div class="omega-pane-30-of-30">

                &nbsp;

            </div>


        </div>

    </div>

</div>

<script type="text/javascript-lazy" src="/lib/scrollbar/scrollbar.js"></script>
